<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.apache.lucene.internal" slot="${slot.full.id}">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <artifact name="${org.apache.lucene:lucene-backward-codecs}"/>
        <artifact name="${org.apache.lucene:lucene-misc}"/>
    </resources>
    <dependencies>
        <module name="javax.api" optional="true" />
        <module name="org.apache.lucene" slot="${slot.full.id}"/>
    </dependencies>
</module>
